:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --bg-page: #e1d4c9;
  --bg-container: #665f55;
  --bg-overlay: rgba(64, 63, 61, 0.8);
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
  --gap-section: 100px;
  --pad-x: 16px;
  --radius-xl: 40px;
  --radius-l: 20px;
  --content: 1360px;
}

[data-theme="dark"] {
  --text-primary: #e1d4c9;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --bg-page: #292826;
  --bg-container: #403f3d;
  --bg-overlay: rgba(41, 40, 38, 0.8);
  --border-primary: #665f55;
  --border-inverse: #c1b6ad;
}

@media (min-width: 768px) {
  :root {
    --pad-x: 40px;
  }
}
